.preview-row {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    padding: 12px 0;
    border-bottom: 1px solid #eeeeee;
  }

  &:last-child {
    padding: 12px 0 0;
  }
}
