.btn {
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}

.btn-primary {
  color: #ffffff;
  background-color: #BF0000;
  border: 1px solid #bf0000;
}

.btn-outline {
  color: #1E90FF;
  background-color: #dddddd;
  border: 1px solid #dddddd;
}
