.arrow-right-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-image: url('../images/arrow-right.svg');
  background-color: transparent;
  background-position: center;
}
