.navigation-wrapper {
  margin: 20px 0;

  .navigation {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;

    &__step {
      margin: 0 10px;

      &-number {
        width: 36px;
        border-radius: 50%;
        color: #000000;
        background-color: #CCCCCC;
        font-size: 25px;
        text-align: center;
        opacity: 0.5;

        &.active {
          color: #ffffff;
          background-color: #bf0000;
          opacity: 1;
        }
      }

      &-arrow {
        width: 36px;
        height: 36px;
        opacity: 0.2;
      }
    }
  }
}
